body{
    background-color: #6aaeb4;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Fira Code", monospace,Arial, Helvetica, sans-serif;
    /*font-optical-sizing: auto;*/
    /*background: linear-gradient(180deg,#21c8f6,#637bff)0%;*/
}
h1{
    text-align: center;
    padding: .5rem;
    font-size: 4rem;    
    color: #ffffff;
    font-weight: 200;
    text-shadow: 5px 5px #44555f;
    letter-spacing: 1rem;
    /*Rotamos el texto*/
    transform: rotate(-10deg);
}
.container{
    display: flex;
    justify-content: center;
    /*height: 70vh;*/
    align-items: center;
    flex-direction: column;
}   
.tarjeta{
    background-color: #44555f;
    border-radius: 1rem;
    border: 1px solid rgb(250, 247, 248);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.4);
    display: flex;
    /*flex-direction: row;*/
    margin: 1.5rem;
    overflow: hidden;
    padding: 1rem;
    height: auto;
    width: 50%;
    justify-content: space-evenly;
    font-family: "Press Start 2P", system-ui;
    
    /*width: 30rem;
    height: 22rem;*/
}
#pokemonName{
    margin: 0.2rem;
    margin-top: 1.8rem;           
}
#pokemondream_world, #pika{
    filter: drop-shadow(15px 15px 10px rgba(0,0,0,0.5));     
}

.container-bas {
    display: flex;
    flex-direction: column; /* Asegúrate de que los elementos internos estén en columna */
    flex-grow: 1; /* Permite que este div crezca en función del contenido */
}

.bar-space{
    display: flex;
    flex-direction: row;
}

.progress{
    justify-content: center;
    border: 1px solid LavenderBlush;
    border-radius: 1rem;
}

.bar{
    padding-top: 1.2rem;
    padding-left: 1rem;          
}

.parrafo{
    color: white;
}

#pika{
    float: left;            
}

#caracteristicas{
    /*Al principio no se muestra caracteristicas del pokemon*/
    display: none;
}

button{
    border: 0;
    /*Gradiente lineal rotado 150 grados*/
    background-image: linear-gradient(150deg,red,blue);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    
}

button span{
    background-color: #111;
    padding: 16px 20px;
    border-radius: 6px;
    transition: .3s;
}

button span:hover{
    background:none;
}

button:active{
    transform: scale(0.9);
}

.buscador{
    display: flex;
}

p{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(max-width:720px){
    .tarjeta{
        flex-direction: column;
    }
}