:root{
    --white-text:#fff;
    --background: #c8e8f1;
    --black-text: rgb(68,68,59);
    --azul-marino: #1F3A5F;    
}

.background-javascript{
    background: linear-gradient(180deg,#21c8f6,#637bff);
}

.background-java{
    background: linear-gradient(180deg,#f77f7b,#fd3c2b);
}
.background-php{
    background: linear-gradient(180deg, #4F5B93, #8892BF);
    background: linear-gradient(180deg, #5A69A6, #8892BF);
    background: linear-gradient(180deg, #3E4A7F, #9FA8D8);
    background: linear-gradient(180deg, #2E3350, #4F5B93);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;    
    list-style: none;
    /*Con border-box todos los componentes van a tener un contenido de por ejemplo 300px-el padding menos el borde*/ 
    box-sizing: border-box;
    border: none;
}

body{
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo h1{
    text-align: center;
    padding: .5rem;
    font-size: 4rem;    
    color: var(--white-text);
    /*color: #0F3D4C;
    color: #263B42;
    color: #12355B;
    /*color: #164E63;*/
    font-weight: 900;
    /*text-shadow: 3rem 40rem 40rem rgba(0,0,0,0.2), 3rem 40rem 40rem #ff2044b5;*/
    text-shadow: 7px 7px #558abb,2px -2px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    /*text-shadow: .5rem .5rem #558abb;*/
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-marino);
    min-height: 4rem;
}
nav h2{
    color: white;
    padding-left: 1rem;
}
nav a {
    color: white;
    font-size: 1.1rem;
    padding: 0 1rem;
}

nav a:hover {
    color: #c8e8f1;
    color: #558abb;
}
nav ul{
    display: flex;
}
.icon{
    /*Desaparece en resoluciones grandes*/
    display: none;
    font-size: 2rem;
}


.container{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.tarjeta{
    background-color: var(--white-text);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 30rem;
    height: 22rem;
}

.tarjeta h6{
    opacity: 0.7;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.tarjeta h2{
    letter-spacing: .1rem;
    margin: 1rem 0;
    color: var(--black-text);
}

.columna-iquierda{
    color: var(--white-text);
    padding: 2rem;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Repartimos el espacio entre cada elemento con space-between*/
    justify-content: space-between;
}

.columna-iquierda h2{
    /*Tenemos que poner h2 en blanco porque le dijimos negro para toda la tarjeta*/
    color: var(--white-text);
}

.columna-iquierda i{
    font-size: 5rem;
}

.columna-derecha{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*Repartimos el espacio entre cada elemento con space-between*/
    justify-content: space-between; 
    position: relative;
}

.columna-derecha::before{
    content: attr(data-category);    
    color: white;
    border-radius: 3rem;
    padding: 5px;
    position: absolute;  
    top:3px;  
    right: 5px;
}
.front::before {
    background-color: #3B82F6;
}

.back::before {
    background-color: #fd3c2b;
}
.frontBack::before {
    background-color: var(--azul-marino);
}

.columna-derecha p{
    font-size: .9rem;
    color: var(--black-text);
}

.button{
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1.5rem;
    letter-spacing: .1rem;
    /*Pasamos el botón de la izquierda a la derecha con align-self*/
    align-self: self-end;
    position:relative;
}

.columna-derecha .button:hover {
    transition: all .8s;
    transform: scale(0.9);
    cursor: pointer;
    /*Invertimos los colores*/
    filter: invert(1);
}
.columna-derecha .button::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: var(--azul-marino);
    color: var(--white-text);
    right: 150px;
    top: 15px;
    opacity: 0;
    width: 150px;
    font-size: .8rem;
}
.columna-derecha .button:hover::before {
    opacity: 1;
}

/*Carrusel de imagenes*/
.carrusel {
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 1rem;    
    mask-image: linear-gradient(to right, transparent, #000 2% 98%, transparent);
}

.carrusel-imagenes {
    display: flex;
    width: 400%;    
    animation: animacion 16s linear infinite;
}

.carrusel-imagenes img {
    width: 100%;
    height: 50vh;
}

@keyframes animacion {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

/*media query*/
@media(max-width: 768px){
    .navi-ul{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: left;
        transition: 0.5s;
    }

    .navi-ul.active{
        left: 0;
        top: 4rem;
    }
    .icon{
        display: block;
        cursor: pointer;
        padding: .2rem;
        margin-right: 1rem;
        color: var(--white-text);
    }
    nav ul{
        flex-direction: column;
        background-color: #568eec;
    }
    nav ul a {
        color: var(--azul-marino);
        font-size: 1.5rem;
        padding: 1rem;
        transition: .3s;
    }
    nav a:hover{
        background-color: var(--azul-marino);
        color: var(--white-text);
    }
    .tarjeta h6{
        opacity: 1;
    }

    .titulo h1{
        font-size: 2rem;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .tarjeta{
        width: 95%;
        height: auto;
    }

    .columna-derecha{
        padding: .8rem;
    }
    .columna-derecha::before{
        font-size: .6rem;
        padding: 2px;
        top:.5px;  
        right: 25px;
    }
    .columna-derecha h2{
        font-size: .8rem;
    }
    .columna-derecha p{
        padding: .8rem;
    }
    
    .button{
        font-size: 1rem;
    }

    .carrusel {
        mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
        width: 95%;
    }
    .carrusel-imagenes{
         width: 100%;  
    }

}

