*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-text:#fff; 
    --azul-marino: #1F3A5F;
}
body{
    width: 90%;
    align-items: center;
    margin: 0 auto;
    background-color: bisque;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-marino);
    min-height: 4rem;
}
nav h2{
    color: white;
    padding-left: 1rem;
}
nav a {
    color: white;
    font-size: 1.1rem;
    padding: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    color: #c8e8f1;
    color: #558abb;
}
nav ul{
    display: flex;
}
.icon{
    /*Desaparece en resoluciones grandes*/
    display: none;
    font-size: 2rem;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 1.2rem;
}
main{
    display: grid;
    /* 3columnas*/
    grid-template-columns: 1fr 1fr 1fr;
    /* Aplicar un espacio en píxeles entre filas y columnas */
    gap: 24px;
    justify-content: center;             
}

.contenedor-imagen{
    display: flex;
}

.contenedor-imagen img{
    width: 100%;
    box-shadow: 4px 4px 10px rgba(139, 69, 19, 0.3); /* SaddleBrown con opacidad */
    border: 2px solid rgba(255, 182, 193, 0.3);
}

article{
    padding: 40px;
    box-shadow: 0 0rem 1rem rgba(0,0,0);
    /*display: flex;
    flex-direction: row;*/
}

fieldset{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}  

button{
    margin-top: 15px;
    margin-left: 5px;
    padding: 5px;
    background-color: #3B82F6;
    color: white;
    transition: .5s all;
}
button:hover {
    background-color: #2563EB;
    cursor: pointer;
    transform: scale(1.1);
}
select{
    appearance: auto; /*Navegadores que no soportan appearance: base-select;*/
    /*appearance: base-select;*/
    min-width: 50%;
    border: 2px solid rgba(18, 17, 17, 0.3);
    padding: 5px;
    background: #b6d8db;
}
@supports (appearance: base-select) {
  select {
    appearance: base-select;
  }

  select::picker(select) {
    appearance: base-select;
    background: #b6d8db;
    border: 2px solid rgba(18, 17, 17, 0.3);
    border-radius: 20px;
    margin-top: 5px;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.4) inset;
  }
}
/*::picker(select){
    appearance: base-select;
    background: #b6d8db;
    border: 2px solid rgba(18, 17, 17, 0.3);
    border-radius: 20px;
    margin-top: 5px;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.4) inset;
}*/
option{
    transition: .25s;
}
option:hover, option:checked{
    background: rgba(255,255,255,.8);
}
option::checkmark{    
    content: "✅";
}
select::picker-icon{
    font-size: 1.2rem;
    transition: .3s;
        
}
select:open::picker-icon{
    rotate:180deg;
}

.personaje:focus{
    outline: 7px solid #F29F05;
    outline-offset: 4px;
}
footer{
    margin-top: 10px;
}

@media(max-width:786px){
    .navi-ul{
        position: fixed;
        left: -120%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: left;
        transition: 0.5s;
    }

    .navi-ul.active{
        left: 0;
        top: 4rem;
    }
    .icon{
        display: block;
        cursor: pointer;
        padding: .2rem;
        margin-right: 1rem;
        color: var(--white-text);
    }
    nav ul{
        flex-direction: column;
        background-color: #568eec;
    }
    nav ul a {
        color: var(--azul-marino);
        font-size: 1.5rem;
        padding: 1rem;
        transition: .3s;       
    }
    nav a:hover{
        background-color: var(--azul-marino);
        color: var(--white-text);
    }
    fieldset{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15px;
    }
    fieldset button{
        margin-top: 1px;
        align-self: center;
    }
    main{
        /* 1 columna*/
        grid-template-columns: 1fr;
        gap: 12px;        
    }
    select{
         min-width: 100px;
    }
    button{
        font-size: .8rem;
        margin-bottom: 10px;  
        margin-left: 0;    
    }
}